[project]
	description = Java API over Accelio
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ilan Smith (ilansmith)
[access "refs/for/refs/*"]
	read = group user/Ilan Smith (ilansmith)
	push = group user/Ilan Smith (ilansmith)
	label-Code-Review = -2..+2 group user/Ilan Smith (ilansmith)
	label-Verified = -1..+1 group user/Ilan Smith (ilansmith)
	rebase = group user/Ilan Smith (ilansmith)
	removeReviewer = group user/Ilan Smith (ilansmith)
	submit = group user/Ilan Smith (ilansmith)
[access "refs/heads/*"]
	read = group user/Ilan Smith (ilansmith)
	create = group user/Ilan Smith (ilansmith)
	push = +force group user/Ilan Smith (ilansmith)
	pushMerge = group user/Ilan Smith (ilansmith)
[access "refs/tags/*"]
	push = +force group user/Ilan Smith (ilansmith)
	pushTag = group user/Ilan Smith (ilansmith)
	pushSignedTag = group user/Ilan Smith (ilansmith)
